:root {
  --base: 1rem;
  --gap: var(--base);
  --gap-tight: calc(var(--gap) / 2);
  --color-text: hsl(0, 0%, 12%);
  --color-background: hsl(0, 0%, 99%);
  --color-background-disabled: hsl(0, 0%, 95%);
  --color-border: hsl(0, 0%, 70%);
  --radius: calc(var(--base) / 6);
}
h1 {
  font-weight: 900;
  margin-top: 0;
}
body {
  color: var(--color-text);
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-text);
  background-image: radial-gradient(var(--color-border) 2px, transparent 2px),
    radial-gradient(var(--color-border) 2px, transparent 2px);
  background-size: calc(20 * 2px) calc(20 * 2px);
  background-position: 0 0, calc(10 * 2px) calc(10 * 2px);
  overflow-x: hidden;
}
a {
  color: var(--color-text);
}
.container {
  background: var(--color-background);
  max-width: 70ch;
  padding: var(--gap);
}
hr {
  margin: var(--gap) 0;
  border-color: var(--color-border);
  border-top: 0;
}
form {
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: auto 1fr;
  align-items: center;
  margin: var(--gap) 0;
}
input {
  appearance: none;
  font-weight: bold;
  font-size: var(--base);
  padding: var(--gap);
  border: 1px solid var(--color-background);
  border-radius: var(--radius);
  background-color: var(--color-background);
  box-sizing: border-box;
  font-weight: 900;
}
input:disabled {
  color: var(--color-text);
  background: var(--color-background-disabled);
  border: 1px solid var(--color-border);
}
label {
  font-weight: light;
  white-space: nowrap;
}
span {
  font-weight: 900;
  padding: 0 var(--gap);
}

footer {
  text-align: center;
  margin-top: var(--gap);
  padding-top: var(--gap);
  color: var(--color-border);
}
